<div class="container">
	<table class="table table-striped">
		<thead>
			<% @visit_count.data.column_headers.each do |header| %>
				<th>
					<%= header.name %>
				</th>
			<% end %>
		</thead>
		<tbody>
			<% @visit_count.data.rows.each do |row| %>
				<tr>
					<% row.each do |field| %>
						<td><%= field %></td>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
