<% provide(:title, 'EasyTrack Dashboard') %>

<div class="container" id="dashboard" data-no-turbolink>
	<br />
	
	<h3>
		Your messages
		<a href="#/new" class="btn btn-success pull-right">New message</a>
	</h3>
	
	<table id="message-table" class="table table-striped">
		<colgroup>
			<col style="width: 50%;" />
			<col style="width: 10%;" />
			<col style="width: 20%;" />
			<col style="width: 20%;" />
		</colgroup>
		<thead>
			<th>Subject</th>
			<th>State</th>
			<th>Updated at</th>
			<th>Sent at</th>
		</thead>
		<tbody>
		</tbody>
	</table>
	
	<hr />
</div>