<% provide(:title, 'EasyTrack Dashboard') %>

<div class="container">
	
	<a href="#" class="btn btn-lg btn-success" onclick="return Modal.show('message', {title: 'New message'});">
		New message
	</a>
	
	<table class="table table-striped">
		<thead>
			<th>Subject</th>
			<th>State</th>
			<th>Modified</th>
			<th>Sent</th>
		</thead>
		<tbody>
			
			<% @messages.each do |message| %>
				<tr>
					<td><%= message.subject %></td>
					<td><%= message.message_state.name %></td>
					<td><%= localize(message.updated_at, :format => :long) %></td>
					<td><%= localize(message.sent_at, :format => :long) if message.sent_at %></td>
				</tr>
			<% end %>
			
			<% if @messages.length == 0 %>
				<tr>
					<td>No messages</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	
	<hr />
</div>