<% provide(:title, 'EasyTrack Dashboard') %>

<div class="container">
	
	
	<a href="#" class="btn btn-lg btn-success" onclick="return Modal.show('message', {title: 'New message'});">
		New message
	</a>
	
	<hr />
</div>