<% provide(:title, 'EasyTrack Dashboard') %>

<div class="container" id="dashboard" data-no-turbolink>
	<br />
	
	<table id="message-table" class="table table-striped">
		<colgroup>
			<col style="width: 50%;" />
			<col style="width: 10%;" />
			<col style="width: 20%;" />
			<col style="width: 20%;" />
		</colgroup>
		<thead>
			<th>Subject</th>
			<th>State</th>
			<th>Updated at</th>
			<th>Sent at</th>
		</thead>
		<tbody>
			<tr>
				<td colspan="5">
					<a
						href="#/new"
						class="btn btn-default btn-block"
					>
						New message
					</a>
				</td>
			</tr>
		</tbody>
	</table>
	
	<hr />
</div>