<form accept-charset="UTF-8" action="{{route 'send_message_path'}}" class="form-vertical" method="post">

	<input class="form-control" id="message_recipient_list" name="message[recipient_list]" placeholder="Recipients" type="text" />
				
	<input class="form-control" id="message_subject" name="message[subject]" placeholder="Subject" type="text" />
				
	<textarea class="form-control" id="message_body" name="message[body]" placeholder="Body"></textarea>
</form>
