@import "bootstrap/variables";

@media (min-width: $screen-md-min) {
  .form-row {
    background-image: image-url('map_dots_small.png');
    background-repeat: no-repeat;
    background-position: right center;
  }
  
  .form-logo {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
