<% if (alert != nil) %>
	<div class="alert alert-danger">
		<div class="container">
			<%= alert %>
		</div>
	</div>
<% end %>

<% if (notice != nil) %>
	<div class="alert alert-info">
		<div class="container">
			<%= notice %>
		</div>
	</div>
<% end %>