<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to "EasyTrack", user_signed_in? ? dashboard_path : root_path, class: "navbar-brand" %>
		</div>
		
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<% if user_signed_in? %>
					<li><%= link_to "Sign out (#{current_user.email})", destroy_user_session_path, :method => :delete %></li>
				<% else %>
					<li class="dropdown">
						<a id="sign-in-toggle-button" href="#" data-toggle="dropdown">Sign in</a>
						<div id="sign-in-dropdown" class="dropdown-menu form-dropdown">
							<%= render partial: 'sign_in_form_small' %>
						</div>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</nav>
